<div class="abruti">
  <h1>All cocktails</h1>

  <div class="card_container_abruti">
      <% @cocktails.each do |element| %>
        <div class="cards_abruti" style="background-image: url('<%= cl_image_path element.photo, height: 300, width: 400, crop: :fill %>')">
            <p><%= link_to "#{element.name}", cocktail_path(element) %></p>
          <!--   <p><%= cl_image_tag element.photo, height: 300, width: 400, crop: :fill %></p> -->
        </div>
      <% end %>
  </div>

  <%= link_to "add a cocktail", new_cocktail_path %>
</div>
